.countries-list {
  height: 30rem;
  overflow: auto;
}

.country-item {
  justify-content: flex-start;
  padding: 0.5rem 1rem;
}

.countries-input {
  justify-self: flex-start;
  padding: 0.5rem 2px;
  width: 18rem;
}